.form-containers {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 540px;
  width: 950px;
  margin: 10px 10px;
  border: 2.5px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 25px;
  }

.left {
  display: flex;
}

.form-column-right {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 10px;
  padding: 10px 10px;
  border-radius: 8px;
  border: .5px solid gray;
  width: 400px;
  outline: none;
  min-height: 50px;
  letter-spacing: 1.5px; 
}

textarea {
  margin: 10px 10px;
  padding: 20px 20px;
  border-radius: 8px;
  border: .5px solid gray;
  outline: none;
  width: 400px;
  min-height: 420px;
  letter-spacing: 1.5px;
  font-size: 14px;
}

.form-contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  letter-spacing: 2px;
  left: 5%;
  top: -20%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: lighter;
}

.form-group {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
 
}

.form-button {
	padding: 10px 110px;
	background-color: red;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
}