.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

.form-container {
  border: .5px solid black;
  box-shadow: 10px 10px 10px 10px black;
  padding: 10px 25px;
}

.form-header {
  margin: 5px 5px;
  padding: 5px 5px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  letter-spacing: 1.5px;
}

.name-contact-form, 
.email-contact-form,
.phonenumber-contact-form,
.subject-contact-form {
  border-radius: 6px;
  border: .5px solid black;
  padding: 20px;
  width: 60ch;
  color: black;
  margin: 10px;
  font-size: 12px;
}

.name-contact-form:focus,
.email-contact-form:focus,
.phonenumber-contact-form:focus,
.subject-contact-form:focus {
  outline: none;
}

.message-contact-form {
  border-radius: 6px;
  border: .5px solid black;
  padding: 20px;
  width: 55ch;
  color: black;
  margin: 10px;
  font-size: 12px;
  height: 20ch;
}

.message-contact-form {
  outline: none;
}

.input-group {
  display: flex;
  flex-direction: column;
}

textarea {
  border-radius: 6px;
  padding: 20px;
  resize: none;
  color: black;
  margin: 10px;
  font-size: 12px;
  width: 45ch;
}

textarea:focus {
  outline: none;
}

input::placeholder {
  color: black;
  font-size: 12px;
  letter-spacing: 3.5px;
}

textarea::placeholder {
  color: black;
  font-size: 12px;
  letter-spacing: 2px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-contact-form {
  padding: 10px;
  margin: 10px;
  font-size: 12px;
  letter-spacing: 2.5px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  background-color: tomato;
  border: .5px solid tomato;
  border-radius: 6px;
}

.button-contact-form:focus {
  outline: none;
}

