.homepage-image {
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 1600px; 
    height: 800px;
    /* opacity: 4px; */
    /* z-index: -1; */
}

.homepage-quote {
    position: absolute;
    top: 45%;
    left: 78%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 28px;
    /* font-style: italic; */
    text-align: center;
    display: flex;
}

.cta-button {
    position: absolute;
    top: 57%;
    left: 78%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    letter-spacing: 4.5px;
    color: white;
    border: 1px solid blue;
    background-color: blue;
    padding: 16px 42px;
    /* border-radius: 10px; */
    font-weight: 700;
    /* transition: all .2s ease-in; */
}

.cta-button:hover {
    /* transform: translateX(-15px) scale(1.1); */
    /* box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3); */
}
/* 
@media only screen and (min-device-width: 600px) {
    img {width: 50px;
    height: 50px}
    } */


