.logo {
    /* font-style: blue; */
    height: 200px;
    width: 200px;
    bottom: 80.8%;
    position: absolute;
    left: 2%;
    /* fill: blue; */
    /* background-color: blue; */

}

/* .logo {
    text-decoration: none;
    color: black;
    text-transform: uppercase; */
    /* font-weight: lighter; */
    /* font-size: 20px;
    letter-spacing: 1.5px;
} */

.logo-symbol {
    width: 10px;
    height: 10px;
    background-color: yellow;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.logo-bottom {
    display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
}