.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-container {
    padding: 16px 16px 16px 16px;
    width: 460px;
    height: 340px;
    margin: 60px 60px 60px 60px;
    text-align: center;
    /* border-radius: 8px; */
    /* box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5); */
}

.card-container {
    transition: all .3s ease-out;
}

.card-container:hover {
    transform: translateY(-15px) scale(1.1);
    /* box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3); */
}

.outline {
    background-color: #e0e7ea;
    /* border: .5 solid #fccf17; */
}

.outline-2 {
    background-color: #e0e7ea;
}

.card-color-yellow {
    /* background-color: #fccf17; */
}

.card-color-blue {
    /* background-color: #47c6fb; */
}

.cards {

}

.heading-title {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    position: absolute;
    color: black;
    letter-spacing: 4px;
    /* font-weight: lighter; */
}

.card-image {
    /* width: 400px; */
    /* height: 500px; */
    /* border-radius: 8px; */
}

span {
    display: block;
}

.card-header {
    /* position: relative; */
    /* height: 175px; */
    /* overflow: hidden; */
}