.signup-form {
    width: 540px;
    height: 440px;
    box-shadow: 6px 6px 6px 6px gray;
    padding: 40px 40px 40px 40px;
    /* margin: 20px; */
    /* border: 2px solid black; */
    background-color: #ffffff;
    /* padding: 20px 20px; */
    margin: 4.6% auto 0;
    /* text-align: center; */
    /* align-items: center; */
    /* display: flex; */
    /* z-index: -1; */
}

.signup {
    /* padding: 20px 20px; */
    /* margin: 20px 20px; */
    /* height: 410px; */
    /* width: 230px; */
    text-align: center;
    /* flex: 50%; */
    /* background-color: blue; */
}

.signup-title {
    /* color: red; */
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 4.5px;
    padding: 0px 0px 20px 0px;
    /* font-weight: lighter; */
    /* margin-bottom: 30px; */
    text-transform: uppercase;
}

.signin-out {
    padding: 20px 10px 20px 10px;
}

.name-signup,
.email-signup,
.password-signup {
    width: 86%;
    height: 12%;
    margin: 10px;
    padding: 10px;
    /* border-radius: 12px; */
    outline: none;
    border: 1px solid black;
}

.input-container {
    /* text-align: center; */
    /* align-items: center; */
    /* align-self: center; */
    /* position: absolute; */
}

.input-terms {
    text-transform: uppercase;
    font-size: 8.5px;
    letter-spacing: 2px;
    /* line-height: normal; */
    /* align-content: center; */
}

.terms-privacy {
    text-decoration: none;
    color: blue;

}

.terms-condtion-container {
    padding: 2px;
    /* margin: 10px; */
}

.input-box {
    /* border-radius: 20px; */
    /* margin: 10px; */
    width: 25px;
    /* padding: 20px; */
    /* align-items: center; */
    /* border: 1px solid #999; */
    /* outline: none; */
    /* float: inline-start; */
    /* padding: 0; */
    /* margin: 0; */
}

.terms-privacy {
    padding: 5px;
}

.signin-account {
    text-transform: uppercase;
    font-size: 8.5px;
    letter-spacing: 2px;
    padding: 5px;
}

.sign-button-container {
    padding: 10px 10px 10px 10px;
    margin: 10px ;
}

.signup-button {
    color: #fff;
    width: 45%;
    padding: 12px;
    /* border-radius: 20px; */
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: tomato;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    opacity: 1;
    transition: 0.3s;
}

.signup-button:hover {
    opacity: 0.6;
}

.signup-button:active {
    background-color: tomato;
    box-shadow: 0 6px gray;
    transform: translateY(4px);
}

/* .signup-vl { */
    /* border-left: 1px solid black; */
    /* margin-top: 20px; */
    /* height: 300px; */
    /* position: absolute; */
    /* bottom: 50%; */
    /* left: 50%; */
    /* text-align: center; */
    /* margin-left: -3px; */
    /* top: 48%;
    transform: translate(-50%, -50%);
} */

/* .signin-form { */
    /* text-align: center; */
    /* padding: 20px 20px; */
    /* margin: 20px 20px; */
    /* text-align: left; */
    /* margin: 4.6% auto 0; */
    /* flex: 50%; */
    /* background-color: yellow; */
/* } */

/* .signin-forgot-password {
    text-transform: uppercase;
    text-decoration: none;
    color: blue;
    font-size: 8.5px;
    letter-spacing: 2px;
} */

input::placeholder {
    /* background-color: white; */
    font-size: 14px;
}

/* .signin-account {
    padding: 5px 0px 5px 0px;
    text-transform: uppercase;
    font-size: 8.5px;
    letter-spacing: 2px;

} */
/* 
.signin {
    padding: 4px;
    text-transform: uppercase;
    font-size: 8.5px;
    letter-spacing: 2px;
    text-decoration: none;
    color: blue; */
    /* color: blue; */

/* } */